# Напишите заголовок проекта здесь

- Автор: Колдашев Виталий Андреевич
- Дата: 20.12.2024
- Ссылка на github: https://github.com/PsychoCoderrr/YPracticumProjects/blob/main/YPracticumProject.ipynb

### Цели и задачи проекта


- Загрузка и знакомство с данными: Проверить данные на соответствие описанию, наличие пропусков и корректность типов.
- Предобработка данных: Привести названия столбцов к удобному формату, обработать пропуски, ошибки и дубликаты, преобразовать данные к корректным типам
- Фильтрация данных: Отобрать игры, выпущенные в 2000–2013 годах.
- Категоризация данных: Разделить игры по уровням оценок пользователей и критиков, определить топ-7 платформ по количеству выпущенных игр.
- Итоговый вывод: Составить описание среза данных и новых добавленных полей, подготовить итоговую версию очищенного и обработанного датасета для анализа.

### Описание данных

- Name — название игры.
- Platform — платформа, на которой выпущена игра.
- Year of Release — год выпуска игры.
- Genre — жанр игры.
- NA sales — продажи в Северной Америке (в миллионах копий).
- EU sales — продажи в Европе (в миллионах копий).
- JP sales — продажи в Японии (в миллионах копий).
- Other sales — продажи в других регионах (в миллионах копий).
- Critic Score — оценка критиков (от 0 до 100).
- User Score — оценка пользователей (от 0 до 10).
- Rating — возрастной рейтинг по классификации ESRB.

### Содержимое проекта

- Загрузка и знакомство с данными
- Предобработка данных
- Фильтрация данных
- Категоризация данных
- Итоговый вывод

## 1. Загрузка данных и знакомство с ними

In [1]:
import pandas as pd

In [2]:
df_start_version = pd.read_csv('https://code.s3.yandex.net//datasets/new_games.csv')

In [3]:
#вывод первых пяти строк датасета
df_start_version.head()

,Name,Platform,Year of Release,Genre,NA sales,EU sales,JP sales,Other sales,Critic Score,User Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [4]:
df_start_version.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16956 entries, 0 to 16955
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16954 non-null  object
 1   Platform         16956 non-null  object
 2   Year of Release  16681 non-null  float64
 3   Genre            16954 non-null  object
 4   NA sales         16956 non-null  float64
 5   EU sales         16956 non-null  object
 6   JP sales         16956 non-null  object
 7   Other sales      16956 non-null  float64
 8   Critic Score     8242 non-null   float64
 9   User Score       10152 non-null  object
 10  Rating           10085 non-null  object
dtypes: float64(4), object(7)
memory usage: 1.4+ MB

Для анализа были предоставлены данные примерно на 16900 строк, в столбцах Critic Score, User Score и Rating можно заметить значительное кол-во пропущенных элементов

По моему мнению, названия столбцов в таблице достаточно понятно и правильно отражают суть данных, которые в них содержатся

Но можно заметить, что в столбцах EU sales и JP sales используется неправильный тип данных, должен быть float64, а также в столбцах User Score и Rating должен быть тип данных float64